.ul-pricing__header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-profile .user-info {
    align-items: flex-start;
}

.user-profile .user-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1.5em;
}

.higlighted-txt {
    font-size: 0.9em;
    font-weight: 600;
 /*   color: #663399;*/
    text-align: center;
    padding-top: 0.5em;
}

.card .card-header h4 {
    margin-bottom: 0;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 2em
}

.upload-btn {
    min-height: 150px;
    border: 2px dashed #673ab75e !important;
    background: #F5F5F5 !important;
    padding: 20px 20px;
    text-align: center;
    min-width: 548px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.para-padding {
    padding: 0 1em;
}

.custom-box {
    background-color: #f8f9fa;
    border-right: 1px solid #eee;
}

.custom-box:last-child {
    border-right: 0;
}

.card-icon-right {
    font-size: 2em;
}


/*Static Page CSS*/

.static-page-sec h1 {
    font-size: 46px;
    text-align: center;
    color: rgb(44, 48, 52);
    margin: 0;
    padding: 0 0 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.static-page-sec h2 {
    font-size: 26px;
    line-height: 20px;
    text-align: left;
    color: rgb(44, 48, 52);
    margin: 0;
    padding: 20px 0 0 0;
}

.static-page-sec p {
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(44, 48, 52);
    margin: 0;
    padding: 10px 0 0 0;
}

/*Login Page CSS*/

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.login-img {
    background-position: 100%;
}

/*Create Metting Page CSS*/

.create-meeting-img {
    width: 100%;
    padding-top: 8em;
}

.create-room-img {
    width: 100%;
    /* padding-top: 15em; */
}

.create-meeting .upload-btn {
    min-width: 405px;
}

.create-room .upload-btn {
    min-width: 405px;
}

.upload-btn-wrapper.create-meeting {
    margin-bottom: 10px;
}

.add-instructor .instructor-dropdown {
    min-width: 450px;
    padding: 1em 2em;
}

.add-instructor .add-i {
    padding: 0.7rem 1rem;
}

.instructor-dropdown {
    min-width: 405px;
    padding: 1em 2em;
}

.instructor-dropdown .ul-widget3-header {
    padding-bottom: 0;
    justify-content: flex-start;
}

.instructor-dropdown-1 {
    min-width: 450px;
    padding: 1em 2em;
}

.instructor-dropdown-1 .ul-widget3-header {
    padding-bottom: 0;
    justify-content: flex-start;
}

/* Single Meeting Page CSS*/

.flex-data {
    display: flex;
    align-items: center;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-meeting-pic .single-meeting-img {
    width: 350px;
    height: 16em;
    object-fit: cover;
}

.single-meeting .card {
    height: 100%;
}

.single-meeting .ul-widget-app__recent-messages {
    height: calc(100vh - 0px);
}

.single-meeting .display-column-lg {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.single-meeting .display-column-lg.display-column-md {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px;
}
.single-meeting .ul-widget5__item {
  border-bottom:0!important;
}

.width-35 {
  width:35%;
}

.width-200{
  width: 200px;
}
.width-450{
  width: 450px;
}

.room-mangement-img {
  max-width: 10em;
}
.section-display {
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    padding: 1em;
    border-radius: 10px;
}

.single-meeting .ul-widget5__item {
  justify-content: flex-start;
}

/*Instructor page css */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 20px;
    position: relative;
    width: 230px;
    height: 40px;
    margin-left: auto;
}

.search-bar .form-control {
    background: transparent;
    border: 0;
    color: #212121;
    font-size: .8rem;
    line-height: 2;
    height: 100%;
    outline: initial !important;
    padding: .5rem 1rem;
    width: calc(100% - 32px);
}

.search-bar .form-control:focus {
  outline: none;
  box-shadow: none;
}

.change-password-img {
    width: 100%;
    max-width: 30em;
}

.delete-account-img {
    width: 100%;
    max-width: 17em;
}

/* Landing Page CSS*/

.section-title {
    font-size: 2.5em;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 800;
}

.sm-padding{
    padding:6em 0;
}

.landing-sec .logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
}

.landing-sec{
    /*background: #ccb3e6;*/
    background-color: #ccb3e680;
}

.landing-sec .navbar .navbar-nav .nav-item {
    margin: 0 16px;
    position: relative;
}

.landing-sec .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.landing-sec .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.1em;
    font-weight: 600;
}
.landing-sec .banner-info {
    padding-top: 8em;
}

.landing-sec .banner-info .title {
    font-size: 2.8em;
    font-weight: 700;
    padding-bottom: 15px;
}

.landing-sec .banner-info .desc {
    font-size: 1.235em;
    font-weight: 500;
    padding-bottom: 15px;
}

.landing-sec .btn.btn-primary {
    font-size: 1.2em;
}

.navbar.navbar-expand-lg.header-bg {
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    z-index: 100;
    transition: all .1s ease-in-out;
}

/*Features Section CSS*/

.features-sec {
    background-image: url(../../images/landing-page/features-bg.svg);
    background-position:0%;
    background-repeat: no-repeat;
    background-size: 28%;
}

.flex-row-reverse {
    flex-direction: row-reverse!important;
}

.features-box {
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 
    0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    text-align: center;
    display: block;
    padding: 26px 0;
    transition: all .2s linear;
    z-index: 1;
    position: relative;
}

.features-box .title {
    font-size: 1.4em;
    color: #332e38;
    margin-top: 15px;
}

.features-box .desc {
    font-size: 1.1em;
    color: #677294;
    line-height: 1.2rem;
}

/*Business Section CSS*/

.business-sec {
   background-color: #ccb3e633; 
}

.business-sec .business-info .title {
    font-size: 2.8em;
    font-weight: 700;
    padding-bottom: 15px;
}

.business-sec .business-info .sub-title {
    font-size: 1.8em;
    font-weight: 700;
    padding-bottom: 15px;
}

.business-sec .business-info .desc {
    font-size: 1.235em;
    font-weight: 500;
    padding-bottom: 15px;
}

/*Testimonial Section CSS*/

/*.testimonial-sec {
    background-color: #F2F2FA;
}
*/
.testimonial-item .inner .client-img {
    width: 5em;
    height: 5em;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 1em;
    object-fit: cover;
}

.testimonial-item .inner {
    margin: 20px;
    border-radius: 0.3em;
    text-align: center;
}

.testimonial-item .inner .testimonial-box {
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    background-color:#fff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: 40px 30px;
}

.testimonial-item .inner .details .sub-desc {
    font-size: 1em;
    line-height: 2;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    color: #cbc2c2;
    text-align: center;
}

.testimonial-item .inner .details .client-name {
    font-size: 1.2em;
    line-height: 2;
    margin-top: 0;
    font-weight: 700;
    color: #332e38;
    text-align: center;
}

.testimonial-item .inner .details .client-role {
    font-size: 1.1em;
    line-height: 2;
    margin-top: 0;
    font-weight: 600;
    color: #666666;
    text-align: center;
}

.slick-slider {
    height: 370px;
}
/*Call To Action Section CSS*/

.call-to-action .title {
    font-size: 2.8em;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}

.call-to-action .desc {
    font-size: 1.235em;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: justify;
    max-width: 275px;
    margin: 0 auto;
}

.call-to-action .double-btn-sec {
    text-align: center;
}

.call-to-action .btn.btn-primary {
    font-size: 1.2em;
}

.call-to-action .btn-outline-secondary {
    font-size: 1.2em;
}

/*Footer Section CSS*/

.footer-sec {
    background-color: #ccb3e680;
}

.footer-sec .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 1em;
}

.footer-sec .title-head {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-sec .list-link {
    font-size: 1.1em;
    line-height: 2;
}

.sub-footer-sec {
    background-color: rgb(102 51 153);
    padding: 2em 0;
}

.sub-footer-sec h3{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
}

.slick-prev:before, .slick-next:before {
    color:#402060!important;
}

.navbar-icon {
    margin: 8px 0px;
    width: 35px;
    height: 3px;
    border-radius: 0.5em;
    background-color: #fff;
    display: block;
}
.navbar-light .navbar-toggler:focus {
    outline:none!important;
    box-shadow: none;
}
