/*================================
Template Name: CG School Ui
Author: Beno darry
Author website: http://codegama.com/
Version: 1.0
================================== */

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 992px) {}

@media (min-width: 1440px) {}

@media (max-width: 1199.98px) {
    .features-sec {
        background-size: 25%;
    }
    .features-box .title {
        font-size: 1.2em
    }
    .features-box .desc {
        font-size: 1em;
    }
    .create-meeting .upload-btn {
        min-width: 280px;
    }
    .instructor-dropdown {
        min-width: 280px;
        padding: 1em 1em;
    }
    .upload-btn {
        min-width: 385px;
    }
    .single-meeting-pic .single-meeting-img {
        width: 100%;
    }
    .video-sec video {
        width:475px;
    }
}

@media (max-width: 991.98px) {
    .landing-sec .banner-info {
        padding-top: 0;
    }
    .sm-padding {
        padding: 2em 0;
    }
    .features-sec {
        background-image: unset;
    }
    .slick-slider {
        height: 100%;
    }
    .testimonial-item .inner .details .client-role {
        font-size: 1em;
    }
    .navbar-light .navbar-toggler {
        border: 0;
        background: #663399;
    }
    .navbar.navbar-expand-lg.header-bg{
        position: unset;
        display: none;
        width: unset;
        height: unset;
        box-shadow: unset;
        display: block;
    }
    .create-meeting .upload-btn {
        min-width: 220px;
    }
    .create-room-img {
        padding-top: 5em;
    }
    .add-instructor .instructor-dropdown {
        min-width: 260px;
        padding: 1em 0.5em;
    }
    .create-room .upload-btn {
        min-width: 185px;
    }
    .width-450 {
        width: 250px;
    }
    .instructor-dropdown {
        min-width: 235px;
        padding: 1em 0.5em;
    }
    .instructor-dropdown-1 {
        min-width: 230px;
        padding: 1em 0.5em;
    }
    .resp-display-block {
        display:block;
    }
    .resp-padding-top-md {
        padding-top: 1em;
    }
    .ul-widget5__item {
        margin-bottom: 0;
    }
    .upload-btn {
        min-width: 260px;
    }
    .single-meeting .ul-widget5__content {        
        display:block;
    }
    .single-meeting .display-column-lg.display-column-md {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .resp-mrg-btm-md {
        margin-bottom: 2em;
    }
    .ul-widget-app__recent-messages {
        height: calc(100vh - 350px)!important;
    }
}

@media (max-width: 767.98px) {
    .single-meeting .display-column-lg.display-column-md {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .navbar-icon {
        margin: 4px 10px;
        width: 35px;
        height: 3px;
        border-radius: 0.5em;
        background-color: #fff;
        display: block;
    }
    .landing-sec .navbar .navbar-nav .nav-item .nav-link {
    	text-align: left;
    }
    .landing-sec .banner-info {
        padding-top: 0;
        text-align: center;
    }
    .landing-sec .navbar .navbar-nav .nav-item {
        margin: 0 0px;
    }
    .landing-sec .banner-info .title {
        font-size: 2.4em; 
    }
    .landing-sec .banner-info .desc {
        font-size: 1em;
    }
    .navbar.navbar-expand-lg.header-bg{
        position: unset;
        display: none;
        width: unset;
        height: unset;
        box-shadow: unset;
        display: block;
        background-color: transparent;
        z-index: unset;
    }
    .resp-mrg-btm-sm {
        margin-bottom: 2em;
    }
    .features-box .title {
        font-size: 1.4em;
    }
    .features-box .desc {
        font-size: 1.1em;
    }
    .business-info {
        text-align: center;
    }
    .business-sec .business-info .title {
        font-size: 2.4em;
    }
    .resp-mr-2 {
        margin-right: 0!important;
    }
    .footer-sec {
        text-align: center;
    }
    .card-header {
        text-align: center;
    }
    .align-center {
        text-align: center;
    }
    .change-password-img {
        margin-top:2em;
    }
    .main-content-wrap {
        padding: 1.5rem 1.5rem;
        padding-bottom: 0;
    }
    .delete-account-img {
        margin-top: 2em;
    }
    .form-control {
        text-align:center;
    }
    .layout-sidebar-large .notification-dropdown {
        left: 35px !important;
        top: 18px!important;
    }
    .signup-box {
        padding:1.5rem;
        overflow: hidden;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }

    .login-box {
        padding:1.5rem;
        overflow: hidden;
    }

    .login-img {
        /* height: 16em;
        margin-right: 15px;
        margin-left: 15px; */
        display:none;
    }
    .login-box .float-right {
        float: unset!important;
    }
    .form-group {
        text-align: center;
    }
    .login-box .p-4 {
        padding: 1rem !important;
    }
    .create-room-img {
        padding-top: 2em;
    }
    .breadcrumb {
        align-items: center;
    }
    .avatar-lg {
        margin:0 auto;
        z-index: 1;
    }
    .user-profile .user-content {
        display: block;
    }
    .user-profile .user-info {
        align-items: center;
    }
    .edit-btn {
        text-align: center;
    }
    .width-200 {
        width: unset;
    }
    .instructor-table .table thead th{
        white-space: nowrap;
    }
    .add-instructor .add-i {
        margin-top: 1em;
    }
    .resp-justify-center {
        justify-content: center;
    }
    .add-instructor .instructor-dropdown {
        min-width: 285px;
        padding: 1em 1em;
    }
    .create-room .upload-btn {
        min-width: 280px;
    }
    .create-meeting .upload-btn {
        min-width: 285px;
    }
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .instructor-dropdown {
        min-width: 285px;
        padding: 1em 0.5em;
    }
    .single-meeting-pic .single-meeting-img {
        width: 100%;
        padding-right: 0;
    }
    .resp-padding-top {
        padding-top: 1em;
    }
    .ul-widget5__item {
        margin-bottom: 0;
    }
    .ul-widget5__pic img{
        width: 100%;
        padding-right: 0;
    }
    .btn.btn-primary.btn-lg.add-i {
        margin-top: 1em;
    }
    .instructor-dropdown-1 {
        min-width: 285px;
        padding: 1em 1em;
    }
    .upload-btn {
        min-width: 285px;
    }
    .create-meeting-img {
        padding-top: 4em;
    }
    .video-sec video {
        width: 100%;
    }
}

@media (max-width: 575.98px) {}

